body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: #fff;
}


/* styles.css */



/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.contact-info h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

/* footer ojo */
.footer-logo img {
    max-width: 200px;
    /* Tamaño deseado */
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.footer-logo:hover img {
    transform: scale(1.1);
    /* Zoom al 110% */
    filter: drop-shadow(0 0 4px red);
    /* Sombra personalizada */
}

.footer-logo img:hover {
    transform: scale(1.1);
    /* Zoom al 110% */
    filter: drop-shadow(0 0 4px red);
    /* Sombra personalizada */
}


/* estilo header atento */


/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Alinear elementos verticalmente */
    align-items: center;
    /* Centrar verticalmente en el eje vertical */
    justify-content: center;
    /* Centrar horizontalmente en el eje horizontal */
}

/* Style the logo */
.header-logo img {
    max-width: 200px;
    /* Tamaño deseado */
    height: auto;
    transition: transform 0.3s;
    /* Agregar efecto de zoom */
    filter: drop-shadow(0 0 4px red);
}

.header-logo img:hover {
    transform: scale(1.1);
    /* Zoom al 110% al pasar el cursor */
}

/* Style the title */
.header-title h1 {
    font-size: 80px;
    /* Tamaño grande para el título */
    margin: 0;
}

/*estilo de botones*/

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.boton:hover {
    background-color: #0056b3;
}


.contenedor-botones {
    text-align: center;
}

/* Aplicar estilos a los botones de eliminar y editar */
.boton-eliminar,
.boton-editar {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.boton-eliminar {
    background-color: rgb(255, 0, 0);
}

.boton-eliminar:hover {
    background-color: rgb(255, 86, 86);
}

.boton-editar {
    background-color: rgb(4, 8, 250);
}

.boton-editar:hover {
    background-color: rgb(4, 131, 250);
}

/*estilos del munu*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.navbar ul li a i {
    font-size: 24px;
    margin-bottom: 5px;
}

.busqueda {
    display: flex; /* Utilizamos flexbox */
    align-items: center; /* Alinea verticalmente */
    margin-left: 210px
}

.busqueda input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
   
}

.busqueda button {
    background-color: #444;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}




.opciones1:hover, .opciones2:hover, .opciones3:hover, .opciones4:hover {
    filter: drop-shadow(0 0 4px red);
}

/* Estilos para la imagen y el contenedor */
.imagen-container {
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}

.imagen-perfil {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}




