/* Estilo general del formulario */
body {
    background-image: url('fondo.png');
    background-size: cover; /* Esto asegura que la imagen se ajuste al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
    background-attachment: fixed; /* Esto asegura que la imagen se mantenga fija mientras te desplazas por la página */
}

form {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    padding-right: 45px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    text-align: left;
}

/* Estilo para etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo para campos de entrada de texto */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón de guardar */
button[type="submit"] {
    background-color: #e93d04;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff5722;
}

/* Estilo para el checkbox de estado */
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

/* Estilo para el formulario en pantallas pequeñas (responsive) */
@media (max-width: 768px) {
    form {
        max-width: 100%;
    }
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.contact-info h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

/* footer ojo */
.footer-logo img {
    max-width: 200px; /* Tamaño deseado */
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.footer-logo:hover img {
    transform: scale(1.1); /* Zoom al 110% */
   filter: drop-shadow(0 0 4px red); /* Sombra personalizada */
}

.footer-logo img:hover {
    transform: scale(1.1); /* Zoom al 110% */
     filter: drop-shadow(0 0 4px red); /* Sombra personalizada */
}



/* estilo header atento */


/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center; /* Centrar verticalmente en el eje vertical */
    justify-content: center; /* Centrar horizontalmente en el eje horizontal */
}

/* Style the logo */
.header-logo img {
    max-width: 200px; /* Tamaño deseado */
    height: auto;
    transition: transform 0.3s; /* Agregar efecto de zoom */
    filter: drop-shadow(0 0 4px red); 
}

.header-logo img:hover {
    transform: scale(1.1); /* Zoom al 110% al pasar el cursor */
}

/* Style the title */
.header-title h1 {
    font-size: 80px; /* Tamaño grande para el título */
    margin: 0;
}

