<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Editar Alumno</title>
    <link rel="stylesheet" href="/cargaDeAlumno.css">
    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
</head>
<header>
    <div class="header-logo">
        <img src="/img/logo.png" alt="IES N6 Logo">
    </div>
    <div class="header-title">
        <h1>Instituto de Educación Superior</h1>
    </div>
    <br>
	<nav>
		<div class="navbar">
			<ul >
				<li class="opciones2"><a href="http://localhost:8080/"><i class="fas fa-home"></i>Inicio</a></li>
				<li class="opciones1"><a href="http://localhost:8080/cargarAlumno"><i class="fas fa-user-plus"></i>Cargar Alumno</a></li>
				<li class="opciones2"><a href="http://localhost:8080/cargarProfesor"><i class="fas fa-user-tie"></i>Cargar Docente</a></li>
				<li class="opciones3"><a href="http://localhost:8080/datos"><i class="fas fa-address-book"></i>Datos Alumnos</a></li>
				<li class="opciones4"><a href="http://localhost:8080/datosProfesores"><i class="fas fa-address-card"></i>Datos Docentes</a></li>
			</ul>
			<div class="busqueda">
				<input type="text" placeholder="Buscar...">
				<button class="busqueda" type="submit"><i class="fas fa-search"></i></button>
			</div>
			<div class="perfil">
				<div class="imagen-container">
					<img src="/img/perfil.png" alt="Tu imagen" class="imagen-perfil">
				</div>
				
			</div>
			
			
		</div>
	</nav>
</header>
<body>
    <br>
    <form action="/editarAlumno" method="post" th:object="${alumno}">
        <!-- Campos para los datos del alumno -->
		<h1 class="titulo">EDICION DE UN ALUMNO</h1>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" th:field="*{name}">
        <br>
        <br>

		<label for="saltname">Apellido:</label>
		<input type="text" id="saltname" name="saltname" th:field="*{saltname}">
		<br>

		<label for="gender">Género:</label>
		<select id="gender" name="gender" th:field="*{gender}">
			<option value="M">Masculino</option>
			<option value="F">Femenino</option>
			<option value="O">Otros</option>
		</select>
		<br>

		<label for="addressCity">Ciudad:</label>
		<input type="text" id="addressCity" name="addressCity" th:field="*{addressCity}">
		<br>

		<label for="addressStreet">Calle:</label>
		<input type="text" id="addressStreet" name="addressStreet" th:field="*{addressStreet}">
		<br>

		<label for="addressNumber">Número de Casa:</label>
		<input type="number" id="addressNumber" name="addressNumber" th:field="*{addressNumber}">
		<br>

		<div class="oculatarDNI">
	
	</div>


		<br>
<div class="oculatarDNI">
		<label for="DNI">DNI:</label>
		<input type="text" id="DNI" name="DNI" th:field="*{DNI}" required="required">
	</div>
		<br>



		<label for="email">Correo Electrónico:</label>
		<input type="email" id="email" name="email" th:field="*{email}">
		<br>

		<label for="numerPhono">Número de Teléfono:</label>
		<input type="tel" id="numerPhono" name="numerPhono" th:field="*{numerPhono}">
		<br>

		<label for="carrera">Carrera:</label>
		<select id="carrera" name="carrera" th:field="*{carrera}" class="select-carrera">
			<option value="PROF DE. INGLES">PROF DE. INGLES</option>
			<option value="PROF. DE EDUCACIÓN SECUNDARIA EN MATEMÁTICA">PROF. DE EDUCACIÓN SECUNDARIA EN MATEMÁTICA
			</option>
			<option value="TEC. EN GESTIÓN DE LOS RECURSOS HIDRICOS CON ORIENTACION EN RIEGO">
				TEC. EN GESTIÓN DE LOS RECURSOS HIDRICOS CON ORIENTACION EN RIEGO
			</option>

			<option value="PROF. DE EDUCACIÓN SECUNDARIA EN INFORMATICA">PROF. DE EDUCACIÓN SECUNDARIA EN INFORMATICA
			</option>
			<option value="PROF. DE EDUCACIÓN SECUNDARIA EN CIENCIAS DE LA ADMINISTRACIÓN">PROF. DE EDUCACIÓN SECUNDARIA
				EN CIENCIAS DE LA ADMINISTRACIÓN</option>
			<option value="TEC. EN CIENCIA DE DATOS E INTELIGENCIA ARTIFICIAL">TEC. EN CIENCIA DE DATOS E INTELIGENCIA
				ARTIFICIAL</option>
		</select>

		<br>
		<input class="ocularStatu" type="state" id="state" name="state" th:field="*{state}" value="1">

		<br>
      

        <button type="submit">Guardar Cambios</button>
        <br>
    </form>
    <br>
</body>
<footer>
    <br>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/img/logo.png" alt="IES N6 Logo">
        </div>
        <div class="contact-info">
            <h4>IES N°6</h4>
            <p><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> Dirección: Avenida Belgrano 456, Perico</p>
            <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i> Teléfono: (388) 421-1576</p>
            <p><i class="fa-regular fa-envelope" style="color: #ffffff;"></i> Correo Electrónico: ivan4912134@gmail.com</p>
        </div>
    </div>
</footer>
</html>
